---
---

@import "{{ site.theme }}";

// Hide “This site is open source. Improve this page.”
footer {
  display: none;
}

#banner {
    display: none !important;
}

body {
    background: #ffffff !important;
    background-color: #ffffff !important;
}

section {
    border: 0px !important;
    margin-top: 50px !important;

}

.exemple_atelier {
    border-left:solid #1799a5 4px;
    padding-left:10px;
}


.effet_atelier {
    border-left:solid #1785a5 4px;
    padding-left:10px;
}

.alerte{
    border-left:solid #912020 4px;
    padding-left:10px;
}

.language-plaintext {
    padding: 2px 4px !important;
  
  color: #567482 !important;
  background-color: #f3f6fa !important;
  border-radius: 0.3rem !important;
}

header{
    color: rgb(232, 230, 227) !important;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    position: relative !important;
  }

  .naomi {
    color: #a53717 !important;
    text-decoration: underline;
    font-weight: bold;
}

.slide_naomi {
    border-left:solid #a53717 4px;
    padding-left:10px;
}

.lcm {
    color: #1785a5 !important;
    text-decoration: underline;
    font-weight: bold;
}

.slide_lcm {
    border-left:solid #1785a5 4px;
}

.theorem_atelier {
    border-left:solid hsl(47, 80%, 50%) 2px;
    padding-left:10px;
    font-style: italic;
}

h4 {
    color: #1785a5 !important;
  }
  