---
---

@import "{{ site.theme }}";

// Hide “This site is open source. Improve this page.”
.footer {
  display: none;
}

#banner {
    display: none !important;
}

body {
    background: #ffffff !important;
    background-color: #ffffff !important;
}

section {
    border: 0px !important;
}